@import "vars";
@import "mixins";

.section {
  padding: 120px 0;
  background-color: #fff;
  .container {
    width: 1360px;
    min-height: 500px;
    outline: 1px solid #f00;
    // margin-left:auto;
    // margin-right: auto;
    margin: 0 auto;
    .title-box {
      h2 {
        font-size: 78px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-size: 24px;
        margin-bottom: 100px;
      }
      a {
        font-size: 18px;
        display: flex;
        align-items: center;
        &::after {
          @include icon("keyboard_arrow_right");
        }
      }
    }
  }
}

.main-video {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  &__txt {
    font-size: 64px * 1.5;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: #fff;
    //animation: arrow-move 1s ease infinite alternate;
    .red {
      color: $red;
    }
    .blue {
      color: $blue;
    }
  }
  .arrow {
    position: absolute;
    left: 100px;
    bottom: 100px;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    @include center();
    animation: arrow-move 0.5s ease infinite alternate;
  }
}
.about {
  padding: 200px 0;
  text-align: center;
  background-image: url("../images/main/bg_introduce.png");
  background-position: left 50% bottom 0;
  margin-top: 100vh;
  .title-box {
    h2 {
      font-size: 90px;
      font-weight: 700;
      margin-bottom: 50px;
    }
    span {
      color: $blue;
    }
    p {
      font-size: 40px;
      line-height: 1.25;
    }
  }
  .btn {
    display: inline-block;
    border-radius: 100px;
    margin-top: 50px;
    padding: 20px 40px;
    background-color: $blue;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    @include longShadow(30, darken($blue, 10));
  }
}

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
